* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

.page-header {
    color: rgb(28, 26, 20);
    background-color: rgb(235, 168, 11);
    font-size: 75px;

}

.img-adjust {
    height: auto;
    width: 505px;
}

.button {
    background-color: rgb(235, 168, 11);
}

.text-adjust {
    font-size: 20px;
}