* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 254, 198);
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-family: fantasy;
    padding: 25px;
}

.page-header {
    color: rgb(28, 26, 20);
    font-size: 125px;
}

.button {
    background-color: rgb(235, 168, 11);
}

.img-container {
    text-align: center;

}

img {
    width: 420px;
}

.text-adjust {
    font-family: fantasy;
    font-size: 30px;
    color: rgb(28, 26, 20);
    margin: 0 auto;
}

ul {
    list-style: square;
    list-style-position: inside;
    text-align: justify;
}

a {
    text-decoration: none;
    color: rgb(28, 26, 20);
}
